name: Deploy Spring Boot to EC2 (ECR)

on:
  push:
    branches: [ "master" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # ✅ aws ecr 로그인
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2


      # ✅ 도커 이미지 빌드
      # QEMU 설정 (ARM 에뮬레이션)
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      
      # Buildx 설정
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      
      # ARM 도커 이미지 빌드
      - name: Build Docker image (ARM64)
        run: |
          docker buildx build \
            --platform linux/arm64 \
            -t ${{ secrets.DOCKER_IMAGE_NAME }}:latest \
            --load .

      # ✅ 새 이미지 push
      - name: Tag & Push Docker image to ECR
        run: |
          docker tag \
            ${{ secrets.DOCKER_IMAGE_NAME }}:latest \
            ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/${{ secrets.DOCKER_IMAGE_NAME }}:latest

          docker push \
            ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/${{ secrets.DOCKER_IMAGE_NAME }}:latest


      # ✅ EC2 배포
      # 1. Bastion Host를 통해 ec2 접속
      # 2. 기존 컨테이너 & 도커 이미지 제거
      # 3. 도커 이미지 pull
      # 4. 도커 컨테이너 실행
      - name: Deploy to Private EC2 via Bastion
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.BASTION_HOST }}
          username: ec2-user
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            chmod 600 /home/ec2-user/web-talk-private-key.pem
            
            ssh -i /home/ec2-user/web-talk-private-key.pem -o StrictHostKeyChecking=no ec2-user@${{ secrets.PRIVATE_EC2_HOST }} << 'EOF'
              # 1️⃣ ECR 로그인 (매 배포 시 안전하게 실행)
              aws ecr get-login-password --region ${{ secrets.AWS_REGION }} \
              | docker login --username AWS --password-stdin \
                ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com || true

            
              docker stop ${{ secrets.DOCKER_CONTAINERNAME }} || true
              docker rm ${{ secrets.DOCKER_CONTAINERNAME }} || true
      
              docker pull \
                ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/${{ secrets.DOCKER_IMAGE_NAME }}:latest
      
              docker run -d \
                --name ${{ secrets.DOCKER_CONTAINERNAME }} \
                --env-file /opt/web-talk-chat-server/dev.env \
                -p 7002:7002 \
                --restart always \
                ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/${{ secrets.DOCKER_IMAGE_NAME }}:latest
                
